---
layout: default
---
<div class="post-list">
  {% for post in site.posts %}
  <div class="post-item">
    <p class="post-date" style="view-transition-name: date-{{ forloop.index }}">{{ post.date | date: "%e %b %Y" }}</p>
    <a class="post-title" href="{{ post.url }}" style="view-transition-name: title-{{ forloop.index }}">{{ post.title }}</a>
    <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
    <a class="read-more" href="{{ post.url }}">Read more →</a>
  </div>
  {% endfor %}
</div>